body {
    padding-top: 70px; 
    padding-bottom: 70px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.portfolio .menu .contact-form{
    margin: 4em 0;
    position: relative; 
}

.container h1{
    margin: 2em; 
}

.container h4{
    margin-top: 1em;
    margin-bottom: 1em;
}

img{
    height: 50%;
    width: 50%;
}

.row{
    position: relative;
}

.row img{
    height: 100%;
    width: 100%;
    margin: 1em;
}

.row div{
    text-align: center;
}

.menu-h a{
    color: black;
}